<div class="server">
    <p class="server-name">{{serverData?.name}}</p>
    <p
        [ngClass]="{'server-status-online':serverData?.status==='ONLINE','server-status-offline':serverData?.status==='OFFLINE','server-status-rebooting':serverData?.status==='REBOOTING...'}">
        <mat-icon *ngIf="serverData?.status==='OFFLINE'" class="status-icon status-offline">close</mat-icon>
        <mat-icon *ngIf="serverData?.status==='ONLINE'" class="status-icon">fiber_manual_record</mat-icon>
        {{serverData?.status}}
    </p>
    <div class="server-manage-buttons">
        <button class="server-manage-openmenu" mat-button [matMenuTriggerFor]="menu"
            [disabled]="serverData?.status==='REBOOTING...'">
            <mat-icon class="server-manage-btn-icon">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="server-manage-menu">
            <div [ngSwitch]="serverData?.status" class="server-manage-container">
                <div *ngSwitchCase="'ONLINE'">
                    <button class="server-manage-btn" (click)="manageServer('off')">offline</button>
                    <button class="server-manage-btn" (click)="rebootServer()">reboot</button>
                </div>
                <div *ngSwitchCase="'OFFLINE'">
                    <button class="server-manage-btn" (click)="manageServer('on')">online</button>
                </div>
            </div>
        </mat-menu>
    </div>
</div>