@import '../scss/variables';
.server {
    height:54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background:white;
    border-bottom: 2px solid #EDEDF0;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    &-name{
        width:40%;
        padding-left: 42px;
        margin:0;
        font-family: $main-font;
        color: $main-color;
        font-size: 13px;
        font-weight: 600;
    }
    &-status{
        width:15%;
        margin:0;
        font-family: $main-font;
        &-online,&-offline,&-rebooting{
            display: flex;
            width:15%;
            align-items: center;
            margin: 0;
            font-weight: 500;
        }
        &-online{
        color:$online-color;
        }
        &-offline{
            color:$main-color;
            display: flex;
            align-items: center;
            margin: 0;
            font-weight: 500;
        }
        &-rebooting{
            color:$rebooting-color;
        }
    }
    &-manage-openmenu{
        background:none;
        border:none;
        margin-right: 20px;
        outline: none;
        cursor: pointer;
        &-icon{
            color:$rebooting-color;
        }
    }

    &-manage-btn{
        height: 50px;
        width: 50px;
        background: none;
        color:$main-color;
        border:none;
        outline:none;
    }
    &-manage-buttons{
        width:40%;
        display: flex;
        justify-content: flex-end;
    }
    &-manage-container{
        display: flex;
        justify-content: center;
    }
}
.status-icon{
    font-size: 15px !important;
    height:18px !important;
}
.status-offline {
    color:$error-color;
    font-weight: bold !important;
}
