<div class="header-menu">
    <div class="header-menu-ellipse"></div>
    <p class="header-menu-name">Recruitment task</p>
    <div class="header-menu-vertline"></div>
</div>
<div class="servers-container">
    <div class="servers-container-header">

        <div>
            <h1 class="servers-container-header-name">Servers</h1>
            <p class="servers-container-header-count">Number of elements: {{servers?.length}}</p>
        </div>
        <div class="search-container">
            <input class="search" type="text" [(ngModel)]="searchText" placeholder="Search" autofocus>
        </div>
    </div>
    <div class="servers-list">
        <div class="servers-list-header server">
            <p class="servers-list-header server-name">name</p>
            <p class="servers-list-header server-status">status</p>
        </div>
        <div *ngFor="let server of servers | appSearch: searchText">
            <app-server [serverData]="server"></app-server>
        </div>
    </div>
</div>