@import './scss/variables';

.header-menu{
    height: $header-height;
    padding-left: 1%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: $main-color;
    &-name{
        height: 12px;
        width: 10%;
        margin-left:10px;
        color: $server-container-color;
        font-family: 'Montserrat', sans-serif;;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    &-ellipse{
        margin:0;
        padding:0;
        height: 17px;
        width: 17px;
        border: 2px solid #7D82F7;
        border-radius: 50%;
    }
    &-vertline{
      height: 35px;
      width: 2px;
      margin-left: 20px;
      background-color: #757B8F;
    }
  }
  
  .servers{  
    margin:0;
   &-container{
    background-color: #F2F3F6;
    min-height:calc(100% - 73px);
    display:flex;
    flex-direction: column;
    padding: 0 25vw 0 20vw; 
      &-header{
        display:flex;
        align-items: center;
        justify-content: space-between;
      }
  }
  &-container-header{
    margin-top:5vh;
  }
   &-container-header-name {
    height: 15px;
    color: #494E61;
    font-family: $main-font;
    font-size: 21px;
    font-weight: 600;
  } &-container-header-count{
      height: 12px;
      margin-bottom:25px;
      color: #494E61;
      font-family: $main-font;
      text-indent: 0;
      font-size: 15px;
      text-align: center;
    }
  }
.search{
    height: 28px;
    width: 85%;
    border: 2px solid #D4D7E1;
    background-image: url(../../../images/54-545482_vector-search-icon-search-icon-vector-png-transparent.png);
    background-size: 8%;
    background-position: 3% 60%;
    background-repeat: no-repeat;
    border-radius: 25px;
    outline:none;
    padding-left: 15%;
    font-family: $main-font;
    background-color: #F2F3F6;
}
.servers-list-header {
  display:flex;
  color:$rebooting-color !important;
  text-transform: uppercase;
  font-weight: 600  !important;
  flex-direction: row;
}